## Data frame preparation and cleaning for dashboard

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#1 - dataframe output from google vision
posts_df = pd.read_excel('https://raw.githubusercontent.com/scmartel/insy670/main/Google_Vision_DF.xlsx')

#2 - dataframe output from user posts with cleaning and mapping
map_df = pd.read_csv('https://raw.githubusercontent.com/scmartel/insy670/main/map_df.csv')

#3 - dataframe output from posts scrapped using comments
hashtag_df = pd.read_csv('https://raw.githubusercontent.com/scmartel/insy670/main/geocodes_comments2.csv')

In [ ]:
posts_df.head()

   Unnamed: 0  ... Engagement
0           0  ...        525
1           1  ...        230
2           2  ...        222
3           3  ...      98670
4           4  ...        378

[5 rows x 52 columns]

In [ ]:
map_df.head()

                                             Caption  ...     tagged_users
0  @timo_levin wall in Kamianske, Ukraine üá∫üá¶(2021...  ...      @timo_levin
1             @jr wall in Paris, France üá´üá∑ (2021)#jr  ...              @jr
2       @3ttman wall in Lodz, Poland üáµüá±(2013)#3ttman  ...          @3ttman
3  @jessieandkatey wall in Philadelphia, USA üá∫üá∏ (...  ...  @jessieandkatey
4  @romanlinacero wall in Nava de la Asunci√≥n, Se...  ...   @romanlinacero

[5 rows x 17 columns]

In [ ]:
hashtag_df.head()

   Username_ID  ... Administrative Level 1 Short
0    175509226  ...                           TX
1   1599189434  ...                         None
2      2491624  ...                           CA
3  47338304181  ...                         None
4  40846095404  ...                         None

[5 rows x 19 columns]

---

### Cleaning the Google vision dataframe to link it back to the pre-processed map DF

In [ ]:
posts_df.columns

Index(['Unnamed: 0', 'Caption', 'Comments', 'Likes', 'URL', 'Object_Num',
       'Object_0_score', 'Object_1_score', 'Object_2_score', 'Object_3_score',
       'Object_4_score', 'Object_5_score', 'Object_6_score', 'Object_7_score',
       'Object_8_score', 'Object_9_score', 'Object_0', 'Object_1', 'Object_2',
       'Object_3', 'Object_4', 'Object_5', 'Object_6', 'Object_7', 'Object_8',
       'Object_9', 'Total_Objects_Names', 'Total_Objects_Scores', 'Label_Num',
       'Label_0_score', 'Label_1_score', 'Label_2_score', 'Label_3_score',
       'Label_4_score', 'Label_5_score', 'Label_6_score', 'Label_7_score',
       'Label_8_score', 'Label_9_score', 'Label_0', 'Label_1', 'Label_2',
       'Label_3', 'Label_4', 'Label_5', 'Label_6', 'Label_7', 'Label_8',
       'Label_9', 'Labels_Objects_Names', 'Labels_Objects_Scores',
       'Engagement'],
      dtype='object')

In [ ]:
postsDF = posts_df[['Caption', 'Comments', 'Likes', 'URL', 'Object_Num', 'Label_0', 'Label_1', 'Label_2','Engagement']]

In [ ]:
map_df.columns

Index(['Caption', 'Comments', 'Likes', 'URL', 'Named Entities',
       'Tokenized Entities', 'lat', 'lon', 'Name', 'Short Name', 'Country',
       'Postal Code', 'Administrative Level 1', 'Administrative Level 1 Short',
       'cleaned_captions', 'tokenized_captions', 'tagged_users'],
      dtype='object')

In [ ]:
mapDF = map_df[['URL', 'lat', 'lon', 'Short Name', 'Country', 'tagged_users']]

In [ ]:
## Merging the two dataframes
mergedDF = postsDF.merge(mapDF, on='URL', how='right')
mergedDF.head()

                                             Caption  ...     tagged_users
0  @timo_levin wall in Kamianske, Ukraine üá∫üá¶(2021...  ...      @timo_levin
1  @jr wall in Paris, France üá´üá∑ (2021)\n‚Ä¢\n#jr #u...  ...              @jr
2  @3ttman wall in Lodz, Poland üáµüá±(2013)\n‚Ä¢\n#3tt...  ...          @3ttman
3  @jessieandkatey wall in Philadelphia, USA üá∫üá∏ (...  ...  @jessieandkatey
4  @romanlinacero wall in Nava de la Asunci√≥n, Se...  ...   @romanlinacero

[5 rows x 14 columns]

In [ ]:
mergedDF['lat'].isnull().value_counts() ## this confirms that all rows have longitude and latitude

False    1011
Name: lat, dtype: int64

---

In [ ]:
#Looking at the hashtag DF
hashtag_df.columns

Index(['Username_ID', 'Caption', 'Comments', 'Comments_Text',
       'Hashtags_Caption', 'Likes', 'Location', 'Mentions_Caption', 'Username',
       'Named Entities', 'Tokenized Entities', 'lat', 'lon', 'Name',
       'Short Name', 'Country', 'Postal Code', 'Administrative Level 1',
       'Administrative Level 1 Short'],
      dtype='object')

In [ ]:
hashtag_df.head()

   Username_ID  ... Administrative Level 1 Short
0    175509226  ...                           TX
1   1599189434  ...                         None
2      2491624  ...                           CA
3  47338304181  ...                         None
4  40846095404  ...                         None

[5 rows x 19 columns]

In [ ]:
hashtagDF = hashtag_df[['Caption', 'Comments', 'Likes', 'Username', 'lat', 'lon', 'Short Name', 'Country']]

In [ ]:
hashtagDF['Caption'] = hashtagDF['Caption'].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
## Detecting tagged users in hashtag dataset
tagged_users = []
I = range(len(hashtagDF))

for i in I:
  full_string = hashtagDF.loc[i, "Caption"]
  string_caption = full_string.split()
  for j in string_caption:
    if j.startswith("@"):
      tagged = j
  if full_string.startswith("@") == True:
    tagged_users.append(tagged)
  else:
    tagged_users.append('no mention')

In [ ]:
hashtagDF['tagged_Users'] = tagged_users

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
hashtagDF.head()

                                             Caption  ...  tagged_Users
0  Happy Friday! I wore this colorful kimono romp...  ...    no mention
1  #mrphotography #gainwithwestandmugweru #gainwi...  ...    no mention
2  @antoniopelayo x @isaacpelayo \n\nEdition of 5...  ...  @isaacpelayo
3  #digitalcollage #digitalartwork #digitalcollag...  ...    no mention
4  #gainwithwestandmugweru #gainwithmchina#gainwi...  ...    no mention

[5 rows x 9 columns]

In [ ]:
#Removing posts without location
hashtagDF.dropna(subset = ["lat"], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
hashtagDF = hashtagDF[hashtagDF['lat'] != 'None']

In [ ]:
hashtagDF.head()

                                             Caption  ...  tagged_Users
0  Happy Friday! I wore this colorful kimono romp...  ...    no mention
2  @antoniopelayo x @isaacpelayo \n\nEdition of 5...  ...  @isaacpelayo
5  #balochisongüíôüíö‚ù§ #karachipakistanüáµüá∞ \n#kingofmy...  ...    no mention
6  ◊ß◊§◊¶◊î ◊ú◊î◊í◊ô◊ì ◊©◊ú◊ï◊ù ◊ë◊°◊ò @shaharlaz\n◊§◊ï◊°◊ò ◊ê◊ó◊®◊ï◊ü ◊ú◊û◊ê...  ...    no mention
9  Mural 3: Iron Paradise\n.\nAnother big paintin...  ...    no mention

[5 rows x 9 columns]

---

## Exporting dataframes

In [ ]:
from google.colab import files
mergedDF.to_csv('mergedDF.csv', index = False) 
files.download('mergedDF.csv')

In [ ]:
hashtagDF.to_csv('hashtagDF.csv', index = False) 
files.download('hashtagDF.csv')